.game-area {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-bottom: 48px;
}

.pointing-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.share-link-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.share-link {
  cursor: pointer;
}

.input-container {
  position: relative;
  margin-bottom: 24px;
}

.name-input-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.players-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.players-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.players-title {
  margin: 0;
}

.cards-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.player-tag {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-title {
  color: tomato;
}
